<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
  <head>
    <meta charset='UTF-8'>
    <title>후원</title>
  </head>
  <body>
    <th:block layout:fragment="content">
      <content-header title="후원"></content-header>

      <article-layout data-tags="후원">
        <img th:src="@{fs/img/introduce.png}" class="w-full" alt="시연용">
      </article-layout>
    </th:block>
  </body>
</html>
