<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
  <head>
    <meta charset='UTF-8'>
    <title>회장 인사말</title>
  </head>
  <th:block layout:fragment="content">
      <content-header title="회장 인사말"></content-header>

      <article-layout data-tags="소개,회장 인사말" id="bossIntroduce">
<!--        <section>-->
<!--          <img th:src="@{/fs/img/introduce.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

        <section id="intro-section" class="card card-side bg-base-100 shadow-xl w-full flex flex-col md:flex-row border border-slate-200 mt-[30px]">
          <div class='card-body pb-[200px]'>
            <div class="flex flex-col pb-[20px]">
              <esg-text text="안녕하세요" size="xlarge" color="title" bold="true"></esg-text>
              <esg-text text="사단법인 한국ESG협회 협회장 윤성식입니다." size="large" color="title"></esg-text>
            </div>

            <div class="flex flex-col">
              <esg-text
                text="이제 기업은 물론이고 정부, 비영리단체 등 모든 조직은 ESG경영을 피해갈 수 없습니다."
                size="medium"
                color="paragraph"
              ></esg-text>
              <esg-text
                text="점점 엄격해지는 기준과 평가는 적당히 ESG 시늉만 내는 조직을 구별해낼 것입니다. 사단법인 한국ESG협회는 ESG를 고민하는 모든 조직에게 도움이 되는 공익법인을 지향합니다."
                size="medium"
                color="paragraph"
              >
              </esg-text>
              <esg-text
                text="한국ESG협회는 신뢰(Trust)와 전문성(Professionalism)이라는 두 가지 핵심가치를 우선적으로 추구합니다. 국민의 신뢰를 받는 협회, 선진국도 인정하는 전문성을 구비한 협회가 되고자 합니다."
                size="medium"
                color="paragraph"
              ></esg-text>
              <esg-text
                text="선진국의 모델을 뛰어넘는 한국형 ESG모델을 구축하여 정부와 기업이 존중하는 협회를 만들겠습니다."
                size="medium"
                color="paragraph"
              ></esg-text>
              <esg-text
                text="그동안 우리는 정부와 시장이라는 이분법에 사로 잡혀 사회문제는 오직 정부만이 해결해야 한다고 생각했습니다. 이제 공공조직은 물론이고 영리를 추구하는 기업조차 인류와 지구의 문제를 해결하는데 참여해야 합니다."
                size="medium"
                color="paragraph"
              ></esg-text>
              <esg-text
                text="기후위기가 인류와 지구를 엄습하고 있는 오늘날 ESG는 단순히 살기 좋은 세상을 만드는 노력이 아니라 인류와 지구를 살리려는 생존의 문제입니다. 한국ESG협회는 ESG를 향해 모이는 모든 생각, 사람, 힘이 마음껏 활동할 수 있는 플랫폼이 되고자 합니다."
                size="medium"
                color="paragraph"
              ></esg-text>
              <esg-text
                text="국민의 사랑을 받는 협회, 선진국의 모델이 될 수 있는 협회로서 대한민국의 자랑이 되고 싶습니다."
                size="medium"
                color="paragraph"
              ></esg-text>
            </div>

          </div>
          <figure class="min-w-[30%]"><img src="" alt="회장님 이미지"/></figure>
        </section>
      </article-layout>
    </th:block>
</html>
