<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
  <head>
    <meta charset='UTF-8'>
    <title>회장 인사말</title>
  </head>
  <th:block layout:fragment="content">
      <content-header title="회장 인사말"></content-header>

      <main class="mx-[15px] md:mx-[120px] lg:mx-[240px] xl:mx-[320px] flex flex-col gap-y-[200px]">
        <section id="intro-section">
          <img th:src="@{/fs/img/introduce.png}" class="w-full" alt="시연용">
        </section>

<!--        <section id="executive-section">-->
<!--          <img th:src="@{/fs/img/intro_peoples.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="goals-section">-->
<!--          <img th:src="@{/fs/img/goals.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="vision-section">-->
<!--          <img th:src="@{/fs/img/vision.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="core-section">-->
<!--          <img th:src="@{/fs/img/core.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="org-section">-->
<!--          <img th:src="@{/fs/img/org.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="ci-section">-->
<!--          <img th:src="@{/fs/img/ci.png}" class="w-full" alt="시연용">-->
<!--        </section>-->

<!--        <section id="map-section">-->
<!--          <img th:src="@{/fs/img/map.png}" class="w-full" alt="시연용">-->
<!--        </section>-->
      </main>
    </th:block>
</html>
