<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
  <head>
    <meta charset='UTF-8'>
    <title>비전전략체계</title>
  </head>
  <body>
  <th:block layout:fragment="content">
    <content-header title="비전"></content-header>

    <article-layout data-tags="비전">
      <img th:src="@{/fs/img/vision.png}" class="w-full" alt="시연용">
    </article-layout>
  </th:block>
  </body>
</html>
