<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
<head>
  <meta charset='UTF-8'>
  <title>소식</title>
</head>
  <body>
    <th:block layout:fragment="content">
      <content-header title="소식"></content-header>

      <article-layout data-tags="소식">
        <section class="newsLayout">
          <article-card
            title="카카오, 글로벌 재생 표준 인증 ‘GRS(Global Recycled Standard)’ 획득"
            created-date="Wed Feb 21 2024 23:56:10 GMT+0900"
            src="https://t1.kakaocdn.net/thumb/R1920x0.fwebp.q100/?fname=https%3A%2F%2Ft1.kakaocdn.net%2Fkakaocorp%2Fkakaocorp%2Fadmin%2Fnews%2Fc8f0d191018d00001.JPG"
          ></article-card>
          <article-card
            title="카카오, 글로벌 재생 표준 인증 ‘GRS(Global Recycled Standard)’ 획득"
            created-date="Wed Feb 21 2024 23:56:10 GMT+0900"
            src="https://t1.kakaocdn.net/thumb/R1920x0.fwebp.q100/?fname=https%3A%2F%2Ft1.kakaocdn.net%2Fkakaocorp%2Fkakaocorp%2Fadmin%2Fnews%2Fc8f0d191018d00001.JPG"
          ></article-card>
          <article-card
            title="카카오, 글로벌 재생 표준 인증 ‘GRS(Global Recycled Standard)’ 획득"
            created-date="Wed Feb 21 2024 23:56:10 GMT+0900"
            src="https://t1.kakaocdn.net/thumb/R1920x0.fwebp.q100/?fname=https%3A%2F%2Ft1.kakaocdn.net%2Fkakaocorp%2Fkakaocorp%2Fadmin%2Fnews%2Fc8f0d191018d00001.JPG"
          ></article-card>
          <article-card
            title="카카오, 글로벌 재생 표준 인증 ‘GRS(Global Recycled Standard)’ 획득"
            created-date="Wed Feb 21 2024 23:56:10 GMT+0900"
            src="https://t1.kakaocdn.net/thumb/R1920x0.fwebp.q100/?fname=https%3A%2F%2Ft1.kakaocdn.net%2Fkakaocorp%2Fkakaocorp%2Fadmin%2Fnews%2Fc8f0d191018d00001.JPG"
          ></article-card>
          <article-card
            title="카카오, 글로벌 재생 표준 인증 ‘GRS(Global Recycled Standard)’ 획득"
            created-date="Wed Feb 21 2024 23:56:10 GMT+0900"
            src="https://t1.kakaocdn.net/thumb/R1920x0.fwebp.q100/?fname=https%3A%2F%2Ft1.kakaocdn.net%2Fkakaocorp%2Fkakaocorp%2Fadmin%2Fnews%2Fc8f0d191018d00001.JPG"
          ></article-card>
        </section>
        <section class="newsAdminSection">

        </section>
        <section class="paginationSection">
          <div class='join'>
            <button class='join-item btn'>1</button>
            <button class='join-item btn'>2</button>
            <button class='join-item btn'>3</button>
            <button class='join-item btn'>4</button>
            <button class='join-item btn'>5</button>
            <button class='join-item btn btn-disabled'>...</button>
            <button class='join-item btn'>12</button>
          </div>
        </section>
      </article-layout>
    </th:block>
  </body>
</html>
`