<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
<head>
  <meta charset='UTF-8'>
  <title>소식</title>
</head>
  <body>
    <th:block layout:fragment="content">
      <content-header title="소식"></content-header>

      <article-layout data-tags="소식" id="newsPostSection">
        <section class="newsAdminSection">
          <button class="btn btn-wide bg-esg-primary postWriteBtn">글 작성하기</button>
        </section>
        <section class="newsLayout">
        </section>
        <section class="paginationSection">
          <div class='join'>
            <button class='join-item btn'>1</button>
            <button class='join-item btn'>2</button>
            <button class='join-item btn'>3</button>
            <button class='join-item btn'>4</button>
            <button class='join-item btn'>5</button>
            <button class='join-item btn btn-disabled'>...</button>
            <button class='join-item btn'>12</button>
          </div>
        </section>
      </article-layout>
    </th:block>
  </body>
</html>
