<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
<head>
  <meta charset='UTF-8'>
  <title>게시글 정보</title>
</head>
<th:block layout:fragment="content">
  <content-header title="한국ESG협회"></content-header>
  <article-layout data-tags="게시글" id="postSection">
    <article class="w-full flex flex-col">
      <section class="flex flex-col" id="postMetaSection">
        <esg-text id="postTitle" size="large" color="title" bold="true"></esg-text> <!-- 제목 -->
        <esg-text id="postDate" size="medium" color="paragraph"></esg-text> <!-- 작성일 -->
        <div class="self-end flex gap-x-3 postControlsPanel hidden">
          <button class="btn btn-netural" id="postModifyButton">수정</button>
          <button class="btn btn-netural" id="postDeleteButton">삭제</button>
        </div>
        <div class='divider'></div>
      </section>

      <section class="w-full">
        <div id="postContent" class="w-full"></div>
      </section>
    </article>

  </article-layout>
</th:block>
</html>
