<!-- Header Molecules Component  -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <style>

    </style>
    <th:block th:fragment="header">
        <header class="w-full h-[72px] flex justify-between absolute top-0 shadow-sm z-50 whitespace-nowrap bg-transparent">
            <button class="flex items-center px-[25px] visible" id="header-button">
                <esg-text text="한국ESG협회" size="large" color="white" href="/"></esg-text>
            </button>

            <div class="hidden md:block">
                <ul class="flex gap-x-20 text-xl items-center text-white">
                    <li>
                        <p class="under top-nav__dropdown" id="top-nav__dropdown--intro">소개</p>
                        <nav class="top-nav__dropdown--content" id="top-nav__dropdown--content-intro">
                            <ul class="dropdown-content">
                                <li class="top-nav__dropdown--menu" id="go-hello">회장 인사말</li>
                                <li class="top-nav__dropdown--menu" id="go-intro">함께하는 사람들</li>
                                <li class="top-nav__dropdown--menu" id="go-vision">비전</li>
                            </ul>
                        </nav>
                    </li>
                    <li>
                        <p class="under top-nav__dropdown" id="top-nav__dropdown--eval">평가</p>
                        <nav class="top-nav__dropdown--content" id="top-nav__dropdown--content-eval">
                            <ul class="dropdown-content">
                            </ul>
                        </nav>
                    </li>
                    <li>
                        <p class="under top-nav__dropdown" id="top-nav__dropdown--work">사업</p>
                        <nav class="top-nav__dropdown--content" id="top-nav__dropdown--content-work">
                            <ul class="dropdown-content">
                                <li class="top-nav__dropdown--menu" id="go-jm">자문</li>
                                <li class="top-nav__dropdown--menu" id="go-edu">교육</li>
                            </ul>
                        </nav>
                    </li>
                    <li>
                        <a href='/news' class="under">소식</a>
                    </li>
                    <li>
                        <a href='/sponsor' class="under">후원</a>
                    </li>
                </ul>
            </div>

            <div class="flex">
                <div id="user-identity" class="text-white px-[30px] font-bold h-full flex items-center justify-center">
                    로그인
                </div>
                <button class="w-[72px] h-[72px] bg-black flex justify-center items-center" id="header__drawer--open-button">
                    <img th:src="@{/fs/svg/hamburger.svg}">
                </button>
            </div>

            <div id="headerNavOverlay"></div>
            <div class="header-nav headerNavHidden" id="headerNavContainer">
                <div class="flex w-full h-[50px] px-[14px] py-[14px] items-center justify-end">
                    <button class="w-[32px] h-[32px] flex items-center justify-center">
                        <img th:src="@{/fs/svg/gray-close-btn.svg}" class="w-[28px] h-[28px]" id="headerNavCloseButton">
                    </button>
                </div>
                <div class="flex flex-col p-[15px]">
                    <div class="layout-full-center">
                        <img th:src="@{/fs/img/k-esg-logo-01.png}" class="h-[80px] w-[225px] border-b-[1px] border-slate-200 pb-[5px]">
                    </div>

                    <div>
                        <div class="w-full flex justify-between p-[15px] cursor-pointer" id="navIntroOpener">
                            <esg-text text="소개" size="medium" bold="true" color="title"></esg-text>
                            <img th:src="@{/fs/svg/arrow-down.svg}" id="navIntroButton" class="transition duration-200" />
                        </div>
                        <div class="flex flex-col gap-y-[8px] px-[30px] dropdownContent" id="navIntroDropdownContent">
                            <esg-text size="normal" color="paragraph" text="인사말"></esg-text>
                            <esg-text size="normal" color="paragraph" text="임원 소개"></esg-text>
                            <esg-text size="normal" color="paragraph" text="설립 목적"></esg-text>
                            <esg-text size="normal" color="paragraph" text="비전 전략 체계"></esg-text>
                            <esg-text size="normal" color="paragraph" text="핵심 가치"></esg-text>
                            <esg-text size="normal" color="paragraph" text="조직도"></esg-text>
                            <esg-text size="normal" color="paragraph" text="CI 안내"></esg-text>
                            <esg-text size="normal" color="paragraph" text="오시는 길"></esg-text>
                        </div>
                    </div>

                </div>
            </div>
        </header>

    </th:block>
</html>
