<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title xmlns:th="http://www.w3.org/1999/xhtml">ESG HOMEPAGE</title>

<link rel="icon" type="image/png" sizes="32x32" th:href="@{/fs/img/favicon/favicon.ico}"/>
<meta charset="utf-8">
<meta name="description" content="Analytics Dashboard"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui"/>

<link rel="stylesheet" th:href="@{/fs/css/common.css}"/>
<script type="text/javascript" th:src="@{/fs/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/fs/js/jquery-cookie-1.4.1.js}"></script>
<script type="text/javascript" th:src="@{/fs/js/fontawesome-free-6.4.js}"></script>
<script type="text/javascript" th:src="@{/fs/js/jquery.tmpl.min.js}"></script>
<script type="text/javascript" th:src="@{/fs/js/common.js}"></script>
