<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="common/templates/layout"
>
  <head>
    <meta charset="utf-8">
    <title>ESG HOMEPAGE</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/fs/img/favicon/favicon.ico}"/>
    <meta name="description" content="Analytics Dashboard"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui"/>
  </head>

  <body id="body">
    <th:block layout:fragment="content">
      <section class="py-[60px]" id="mainHome">
        <div class="flex flex-col justify-center mx-0 lg:mx-[240px] animate__animated animate__fadeIn">
          <div class="flex flex-col items-center pt-[120px] py-[180px] whitespace-nowrap">
            <p class="esg-top-nav__text--title">한국ESG협회</p>
            <span class="text-white text-[28px] md:text-[42px]">KOREA ESG ASSOCIATION</span>
          </div>

          <div class="w-full flex flex-col h-fit items-center">
            <div class="mainSearchContainer">
              <input type='text' placeholder="ESG 협회에 대해서 설명해줘" id="mainChatbotQuery">
              <button id="querySearchButton">
                <img th:src="@{/fs/svg/main-search.svg}" alt="search.svg">
              </button>
            </div>

            <div class="mainChatBoxContainer">
            </div>

          </div>


          <div class="pt-[100px]"></div>
          <div class="w-full flex flex-col items-center gap-y-[10px]">
            <button class="esg-main-question-card">
              <img th:src="@{/fs/svg/question.svg}" alt="질문" />
              <esg-text color="title" text="ESG가 무슨 의미인 지 설명해줘"></esg-text>
            </button>

            <button class="esg-main-question-card">
              <img th:src="@{/fs/svg/question.svg}" alt="질문" />
              <esg-text color="title" text="ESG 협회의 설립 목적에 대해서 설명해줘"></esg-text>
            </button>

            <button class="esg-main-question-card">
              <img th:src="@{/fs/svg/question.svg}" alt="질문" />
              <esg-text color="title" text="K-ESG 의 시상 제도의 특징이 뭐야?"></esg-text>
            </button>


            <button class="esg-main-question-card">
              <img th:src="@{/fs/svg/question.svg}" alt="질문" />
              <esg-text color="title" text="K-ESG 의 평가 방법에 대해 설명해줘"></esg-text>
            </button>


            <button class="esg-main-question-card">
              <img th:src="@{/fs/svg/question.svg}" alt="질문" />
              <esg-text color="title" text="현재 평가된 랭킹 순위를 알려줘"></esg-text>
            </button>
          </div>
        </div>
      </section>

        <button class="chatbot-button">
          <div class="relative">
            <div class="drop-shadow-md text-slate-700 invisible" id="chatbot__container">
              <div class="text-left">
                <img th:src="@{/fs/img/header_logo.png}" alt="header_logo" />
                <p>안녕하세요! ESG 협회입니다.</p>
                <p>문의 할 유형을 선택해주시면 자세히 안내 드릴게요!</p>
              </div>
            </div>
          </div>
        </button>
    </th:block>
  </body>
</html>
